@model OnlineExamSystem.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "AssignRole";
}

<h2 style="text-align: center">AssignRole</h2>

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form class="form-horizontal" asp-action="AssignRole" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Select User</label>
                <select asp-for="Email" class="form-control" asp-items="ViewBag.UserName">
                    <option value="">--Select User--</option></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Select Role</label>
                <select asp-for="Name" name="Name" class="form-control" asp-items="ViewBag.Name">
                    <option value="">--Select Role--</option></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="form-control btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-controller="Role">Back to List</a>
</div>

@*@section Scripts{ 
    @Scripts.Render("~/bundles/jqueryval")
}*@