
@{
    ViewData["Title"] = "Exam Name";
}

<h3>Exam Name</h3>

<table>
    <tr>
       
        <td>@Html.ActionLink("C#","CSharp","ExamQuestions")<td>
        
        
    </tr>
    <tr>
        <td>@Html.ActionLink("SQL", "SQLSERVER", "ExamQuestions")<td>
    </tr>
</table>