
@{
    ViewData["Title"] = "Exam Name";
}

<h3>Online Exam</h3>

<div id="page-wrapper">
    <h3>Exam Name</h3>
    <br />
    <table>
        <ul>
            <li>@Html.ActionLink("Basic C#", "CSharp", "ExamQuestions")</li>
            <li>@Html.ActionLink("Basic SQL", "SQLSERVER", "ExamQuestions")</li>
        </ul>
    </table>
</div>